<IfModule mod_rewrite.c>
    RewriteEngine On

    # Điều hướng các thư mục cần thêm "public/"
    RewriteCond %{REQUEST_URI} ^/(build|css|fonts|icons|images|js|svg|vendors) [NC]
    RewriteRule ^(.*)$ public/$1 [L]

    # Điều hướng các file cần thêm "public/"
    RewriteCond %{REQUEST_URI} ^/(favicon\.ico|robots\.txt)$ [NC]
    RewriteRule ^(.*)$ public/$1 [L]

    # Điều hướng các yêu cầu khác tới public/index.php
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/index.php [L]
</IfModule>

# Bảo mật: Chặn truy cập file nhạy cảm
<FilesMatch "^(\.env|\.htaccess|composer\.(json|lock)|artisan|server\.php|package\.json|webpack\.mix\.js|vite\.config\.js|error_log|\.DS_Store)$">
    Order allow,deny
    Deny from all
</FilesMatch>
