@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Albert Sans', sans-serif;

}

.menu li a {
    position: relative;
    text-decoration: none;
    color: inherit;
}

body {
    display: flex;
    flex-direction: column;

}

.color-radio:checked+label {
    border: 2px solid #423f72;
    /* Viền màu vàng */
    transform: scale(1.1);
    /* Phóng to nhẹ khi được chọn */
    transition: transform 0.2s ease-in-out, border 0.2s ease-in-out;
}

#product-mega-menu {
    display: none;
}

/* Show the mega menu on hover */
#product-menu-toggle:hover+#product-mega-menu {
    display: block;
    
}

/* Mega menu styling */
#product-mega-menu {
    position: relative;
    left: 0;
    top: 100%;
    width: auto;
    /* Adjust width to fit content */
    min-width: 100%;
    /* Ensure the mega menu is at least as wide as the parent */
    z-index: 10;
    /* Ensure it appears above other elements */
}

.menu li a::after {
    content: '';
    position: absolute;
    margin-bottom: 10px;
    padding: 0;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: rgb(21, 62, 152);
    /* background-color: black; */
    transition: width 0.4s ease-in-out;
}

.menu li a:hover::after {
    width: 100%;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
        /* Phóng to nhẹ background */
    }
}

.animate-scale {
    animation: scaleUp 20s linear infinite alternate;
    background-size: 100%;
}

.saleSwiper {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

.swiper-slide {

    opacity: 0.7;
    transform: scale(0.8);
    transition: opacity 0.5s, transform 0.5s;
}
.fade-in {
    animation: fadeInAnimation 1s ease-in-out forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.swiper-slide-active {
    opacity: 1;
    transform: scale(1.0);
    z-index: 2;
}

.swiper-slide-next {
    opacity: 0.8;
    transform: scale(0.9);
}

.swiper-slide-prev {
    opacity: 0.8;
    transform: scale(0.9);
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

input[type="search"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}
.fade-item {
    opacity: 0;
    transform: translateY(30px); /* Đẩy phần tử xuống dưới một chút */
    transition: opacity 1s ease-out, transform 2s ease-out; /* Hiệu ứng mờ dần và di chuyển */
}

.fade-item.opacity-100 {
    opacity: 1;
    transform: translateY(0); /* Di chuyển phần tử lên vị trí ban đầu */
}

/* Tùy chỉnh checkbox */
.custom-checkbox:checked + span {
    background-color: #202020; /* Màu nền khi checkbox được chọn */
    
    color: #fff; /* Màu chữ khi checkbox được chọn */
}

/* Tạo hiệu ứng dấu tích khi checkbox được chọn */
.custom-checkbox:checked + span::after {
    content: "✔";
    position: absolute;
    color: white;
    font-size: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.custom-checkbox:checked + span::after {
    content: ""; /* Không hiển thị dấu tích */
}


/* Ẩn checkbox */
.custom-checkbox1 {
    display: none;
}
/* Tùy chỉnh trạng thái checkbox khi được chọn */
.custom-checkbox1:checked + label span {
    border-color: #5b54db; /* Màu viền khi checkbox được chọn */
    border: 3px solid;
}
/* Thêm hiệu ứng khi hover */
/* CSS cho hiệu ứng đóng mở */
.collapsible {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.collapsible.open {
    max-height: 500px; /* Đặt giới hạn đủ cao để nội dung hiển thị hoàn toàn */
}
